[workspace]
resolver = "2"
members = [
  "crates/*",
  "examples/*",
]

[workspace.package]
version = "0.6.3"
description = "Japanese text preprocessor for Text-to-Speech application (OpenJTalk rewrite in rust language)."
license = "BSD-3-Clause"
repository = "https://github.com/jpreprocess/jpreprocess"
keywords = ["tts", "openjtalk", "library"]
categories = ["text-processing"]

rust-version = "1.65.0"

[workspace.dependencies]
jpreprocess = { path = "crates/jpreprocess", version = "0.6.3" }

jpreprocess-core = { path = "crates/jpreprocess-core", version = "0.6.3" }
jpreprocess-dictionary = { path = "crates/jpreprocess-dictionary", version = "0.6.3" }
jpreprocess-dictionary-builder = { path = "crates/jpreprocess-dictionary-builder", version = "0.6.3" }
jpreprocess-jpcommon = { path = "crates/jpreprocess-jpcommon", version = "0.6.3" }
jpreprocess-naist-jdic = { path = "crates/jpreprocess-naist-jdic", version = "0.6.3" }
jpreprocess-njd = { path = "crates/jpreprocess-njd", version = "0.6.3" }
jpreprocess-window = { path = "crates/jpreprocess-window", version = "0.6.3" }
