name: Publish

on:
  push:
    tags:
      - v*.*.*

jobs:
  pre-publish-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Cache Cargo dependencies
        uses: Swatinem/rust-cache@3cf7f8cc28d1b4e7d01e3783be10a97d55d483c8 # v2.7.1
      - name: Setup integration test
        working-directory: crates/jpreprocess/tests
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --repo jpreprocess/open_jtalk v0.0.5
          chmod +x openjtalk_bin

          gh release download --repo jpreprocess/jpreprocess v0.0.1-rc0
          tar xJvf dictionaries.tar.xz

          rm *.tar.gz *.tar.xz
      - name: Build
        run: cargo build --verbose --all-features
      - name: Run tests
        run: cargo test --verbose --all-features -- --include-ignored
      - name: Run Clippy
        run: cargo clippy --all-targets

  build-binary:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            feature: ""
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            feature: "naist-jdic"
          - target: x86_64-pc-windows-gnu
            os: ubuntu-latest
            feature: ""
          - target: x86_64-pc-windows-gnu
            os: ubuntu-latest
            feature: "naist-jdic"
          - target: x86_64-apple-darwin
            os: macos-latest
            feature: ""
          - target: aarch64-apple-darwin
            os: macos-latest
            feature: ""
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: dtolnay/rust-toolchain@be73d7920c329f220ce78e0234b8f96b7ae60248 # master
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - run: |
          cargo install cross
          cross build --release --target=${{ matrix.target }} --features=binary,${{ matrix.feature }}

      - run: |
          zip --junk-paths ${{ matrix.target }}-${{ matrix.feature }}.zip target/${{ matrix.target }}/release/{jpreprocess,dict_tools}{,.exe}

      - name: Upload Artifact
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: build-${{ matrix.target }}-${{ matrix.feature }}
          path: ${{ matrix.target }}-${{ matrix.feature }}.zip

  build-naist-jdic:
    runs-on: ubuntu-latest
    needs: [build-binary]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          repository: jpreprocess/naist-jdic
          ref: v0.1.1
          path: naist-jdic-source
      - name: Download binary
        uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # v4.1.1
        with:
          name: build-x86_64-unknown-linux-gnu-
      - name: Build
        run: |
          unzip x86_64-unknown-linux-gnu-.zip
          chmod +x dict_tools
          ./dict_tools build jpreprocess naist-jdic-source naist-jdic
      - name: Package naist-jdic
        run: |
          tar czvf naist-jdic-jpreprocess.tar.gz naist-jdic
      - name: Upload Artifact
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: naist-jdic
          path: naist-jdic-jpreprocess.tar.gz

  publish-crates:
    runs-on: ubuntu-latest
    needs: [pre-publish-test]
    env:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: publish
        run: |
          publish_package () {
            VERSION=$(cargo metadata --no-deps --format-version=1 | jq -r ".packages[] | select(.name==\"$1\") | .version")
            VERSIONS=$(curl -s -XGET "https://crates.io/api/v1/crates/$1" | jq -r 'select(.versions != null) | .versions[].num')
            if echo "${VERSIONS}" | grep "${VERSION}" >/dev/null; then
              echo "$1 ${VERSION} has already been published"
            else
              sleep 15
              cargo publish -p "$1" --all-features
            fi
          }

          publish_package "jpreprocess-core"
          sleep 5
          publish_package "jpreprocess-dictionary"
          sleep 5
          publish_package "jpreprocess-dictionary-builder"
          sleep 5
          publish_package "jpreprocess-naist-jdic"
          sleep 5
          publish_package "jpreprocess-window"
          sleep 5
          publish_package "jpreprocess-njd"
          sleep 5
          publish_package "jpreprocess-jpcommon"
          sleep 5
          publish_package "jpreprocess"

  create-release:
    name: Create Release
    permissions:
      contents: write
    needs: [build-binary, build-naist-jdic, publish-crates]
    runs-on: ubuntu-latest
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@6b208ae046db98c579e8a3aa621ab581ff575935 # v4.1.1
      - name: Check Tag
        id: check-tag
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Not prerelease"
            echo "prerelease=false" >> $GITHUB_OUTPUT
          else
            echo "Prerelease"
            echo "prerelease=true" >> $GITHUB_OUTPUT
          fi
      - name: Create release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: ${{ steps.check-tag.outputs.prerelease == 'true' }}
          files: |
            **/*.zip
            **/*.tar.gz
