name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Cache Cargo dependencies
      uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - name: setup integration test
      working-directory: tests/data
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh release download --repo jpreprocess/open_jtalk v0.0.5
        chmod +x openjtalk_bin

        gh release download --repo jpreprocess/jpreprocess v0.0.1-rc0
        tar xJvf lindera.tar.xz
        tar xJvf mecab-naist-jdic.tar.xz

        rm *.tar.gz *.tar.xz

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose -- --include-ignored

    - name: Run Clippy
      run: cargo clippy --all-targets
    - name: Run Format Check
      run: cargo fmt --check

  wasm:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Install Rust
      uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # master
      with:
          toolchain: stable
          targets: wasm32-unknown-unknown

    - name: wasm-pack
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Cache Cargo dependencies
      uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - name: Build
      run: |
        cd examples/example-wasm
        wasm-pack build --target nodejs

    - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      with:
        version: 8

    - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
      with:
        node-version: 20
        cache: 'pnpm'
        cache-dependency-path: examples/example-wasm/js/pnpm-lock.yaml

    - name: Test js
      run: |
        cd examples/example-wasm/js
        pnpm i
        pnpm test

  check-msrv:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - name: Get MSRV
      id: msrv
      run: echo "msrv=$(cargo metadata --no-deps --format-version=1 | jq -r ".packages[] | select(.name==\"jpreprocess\") | .rust_version")" >> $GITHUB_OUTPUT

    - name: Install Rust
      uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b # master
      with:
          toolchain: ${{ steps.msrv.outputs.msrv }}

    - name: Cache Cargo dependencies
      uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

    - name: Print version
      run: |
        cargo --version
        rustc --version

    - name: Run test
      run: cargo test --verbose
