[package]
name = "jpreprocess-naist-jdic"
edition = "2021"

version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
rust-version.workspace = true

documentation = "https://docs.rs/jpreprocess-naist-jdic"

[features]
naist-jdic = ["dep:encoding", "dep:flate2", "dep:tar", "dep:ureq"]

[dependencies]
lindera-dictionary.workspace = true

[build-dependencies]
encoding = { workspace = true, optional = true }
flate2 = { workspace = true, optional = true }
tar = { workspace = true, optional = true }
ureq = { workspace = true, features = ["tls"], optional = true }

lindera-dictionary.workspace = true

jpreprocess-dictionary.workspace = true
jpreprocess-dictionary-builder.workspace = true
